<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a class="small_icon" href="{{ site.author.github }}"><span><img src="../assets/images/github_icon.png"
                alt="GitHub Icon"></span></a>
          <a class="small_icon" href="{{ site.author.linkedin }}"><span><img src="../assets/images/linkedin_icon.png"
                alt="LinkedIn Icon"></span></a>
          <a class="small_icon" href="mailto:{{ site.author.email }}"><span></span><img src="../assets/images/gmail_icon.png"
              alt="Gmail Icon"></a>
        </p>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">© 2025 - {{ site.author.name | escape }} | No Rights Reserved, I swear</li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>