.small_icon {
    margin: 0 !important;
    box-shadow: none !important;
    border: none !important;
    margin-right: 0.5rem !important;
    max-width: 24px;
    max-height: 30px;
}

.toc {
    float: right;
    top: 1rem;
    width: 25%;
    position: sticky;
    margin-right: 1rem;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.toc a {
    color: black;
}

.main_content_inner {
    width: 70%;
}

.section_header {
    display: flex !important;
    justify-content: center !important;
}

