// Placeholder to allow overriding predefined variables smoothly.

$secondary-red: #DC3545;
$light-blue: #0037AE;
$dark-blue: #001C5D;
$deep-bordeax: #5D001C;
$light-bordeax: #AE0037;
$test-bordeax: #A30026;
$slate-grey: #696969;
$dark-grey: #36454F;
$dark-background: #1D1D1D;
$silver-grey: #C0C0C0;
$light-grey: #F0F0F0;